body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  height: 100vh;
  perspective: 4000px;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #808080;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #a6a6a6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
 * HEADER
 */

.header {
  background-image: url("./assets/images/header-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  box-sizing: border-box;
  padding: 3rem;
  min-height: 700px;
}

.navigation__drawer {
  padding: 2rem;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-height: 83px;
  color: white;
}

.navigation__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__list__drawer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__item__drawer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.drawer__bars {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.drawer__bars:hover {
  cursor: pointer;
}

.navigation__item__drawer:first-child {
  margin-bottom: 3rem;
}

.navigation__item__icon {
  padding-right: 0.5rem;
  transition: all 0.3s;
}

.navigation__item:hover .navigation__item__icon {
  font-size: 2rem;
  transition: all 0.3s;
}

.navigation__item__drawer:hover {
  cursor: pointer;
}

.navigation__item:hover {
  cursor: pointer;
}

.navigation__item:not(:last-child) {
  margin-right: 3rem;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 3rem;
}

.header__box {
  align-items: center;
  flex: 50%;
  color: #fff;
}

.box__title {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.box__paragraph {
  font-size: 1.1rem;
}

.header__box p {
  text-align: justify;
  width: 70%;
}

.box__image {
  width: 100%;
}

@media screen and (min-width: 1450px) {
  .header {
    padding: 8rem 16rem;
  }
}

@media screen and (max-width: 1100px) {
  .header__box p {
    width: 95%;
  }
}
@media screen and (max-width: 950px) {
  .navigation {
    display: none;
  }
  .navigation__drawer {
    display: block;
  }

  .drawer__bars {
    display: block;
  }
}
@media screen and (min-width: 950px) {
  .navigation {
    display: block;
  }

  .navigation__drawer {
    display: none;
  }

  .drawer__bars {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .header {
    height: 1100px;
  }

  .box__title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  .header__content {
    flex-direction: column-reverse;
    margin: 2rem 0;
  }

  .box__title {
    width: 80%;
    margin-bottom: 1rem;
  }
}

/* 
 * TECHNICAL STUCK
 */

.technical__stuck {
  padding: 0rem 6rem 10rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.technical__stuck__box__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
  justify-content: center;
  row-gap: 1rem;
  column-gap: 2rem;
}

.technical__stuck__title {
  text-align: center;
  margin: 5rem;
  font-size: 3rem;
  font-weight: 300;
}

.technical__stuck__box__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.technical__stuck__box {
  transform-style: preserve-3d;
  box-sizing: border-box;
  padding: 3rem;
  width: 80%;
  height: 85%;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.technical__stuck__box__title,
.technical__stuck__box__paragraph,
.technical__stuck__box__other {
  transition: all 0.5s ease-in-out;
}

.technical__stuck__box__icon__container {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 2rem;
  left: 50%;
}

.technical__stuck__box__icon {
  font-size: 4rem;
}

.technical__stuck__box div {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.technical__stuck__box p {
  padding: 0.5rem 0 2rem 0;
  text-align: justify;
}

.box__1 {
  background-image: url("./assets/images/javascript-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box__2 {
  background-image: url("./assets/images/react-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.box__3 {
  background-image: url("./assets/images/node-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box__4 {
  background-image: url("./assets/images/other-skills-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 1250px) {
  .technical__stuck__box__container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  .technical__stuck__box p {
    line-height: 150%;
  }
}

@media screen and (min-width: 1450px) {
  .technical__stuck {
    padding: 8rem 16rem 16rem 16rem;
  }
}

@media screen and (max-width: 1000px) {
  .technical__stuck__title {
    margin: 0rem;
    margin-top: 0rem;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .technical__stuck__box {
    width: unset;
  }

  .technical__stuck__box:last-child {
    width: 100%;
  }

  .header {
    min-height: 1000px;
  }

  .technical__stuck {
    padding: 0rem 2rem 6rem 2rem;
  }
}

@media (max-width: 500px) {
  .technical__stuck__box__container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
  }
}

@media (max-width: 450px) {
  .technical__stuck__box {
    padding: 1rem;
  }
}

/* 
 * PROJECTS
 */

.projects {
  background-image: url("./assets/images/projects-background.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1300px;
  padding: 6rem;
  padding-bottom: 10rem;
}

.projects__title {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin: 11rem;
  color: white;
}

.project__modal__button {
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.project__modal__button div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project__modal__button svg {
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

.project__modal__button:hover {
  cursor: pointer;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
  justify-content: center;
  row-gap: 5rem;
  column-gap: 5rem;
}

.projects__item {
  position: relative;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 350px;
  overflow-y: hidden;
}

.projects__item:hover .projects__item__box {
  margin-top: 0%;
  transition: all 0.4s;
}

.projects__item__techs {
  position: relative;
  display: flex;
  flex-flow: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 0.5rem;
}

.projects__item__techs__item {
  margin: 0 0.3rem 0.3rem 0;
  padding: 0.2rem;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
}

.projects__item__box {
  background-color: rgba(89, 89, 89, 0.97);
  color: #fff;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 73%;
  transition: all 0.4s;
}

.projects__item__box__title {
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__item__box__paragraph {
  opacity: 0.95;
  text-align: justify;
}

.projects__item__box__links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.projects__item__box__link__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__item__box__link__container a {
  margin-right: 0.5rem;
  text-decoration: none;
  color: inherit;
}

.projects__item__box__links a {
  color: inherit;
  text-decoration: none;
}

.projects__item__box__links a:hover {
  color: white;
}

.link__disabled {
  opacity: 0.6;
  color: white;
}

.link__disabled div {
  margin-right: 0.5rem;
}

.link__disabled:hover {
  cursor: not-allowed !important;
}

.project__1 {
  background-image: url("./assets/images/findit360.png");
}
.project__2 {
  background-image: url("./assets/images/findit360mobile.png");
}

@media screen and (min-width: 1450px) {
  .projects__title {
    margin: 14rem;
  }

  .projects {
    background-position: center;
  }
}

@media screen and (max-width: 1400px) {
  .projects {
    height: 1400px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    min-height: 1100px;
  }
}

@media screen and (max-width: 1000px) {
  .projects__title {
    margin: 10rem 5rem 5rem 5rem;
  }

  .projects {
    height: 2100px;
    background-position: center;
  }
}

@media screen and (max-width: 800px) {
  .projects__title {
    margin: 13rem 5rem 5rem 5rem;
  }

  .projects {
    padding: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .projects {
    height: 2300px;
  }

  .projects__title {
    margin: 15rem 0 6rem 0;
  }

  .projects__item__box__links {
    margin-top: 4rem;
  }
}

/* 
 * General Modal
 */

.modal__container {
  background-color: #595959;
  position: absolute;
  outline: none;
  display: flex;
  border-radius: 10px;
  padding: 2rem;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
}

.modal__content {
  height: 100%;
  margin: auto;
  max-width: 700px;
  padding: 0 2rem;
  overflow-y: auto;
  color: #cacaca;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1.5rem;

  border-bottom: 1.5px solid #808080;
}

.modal__header__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal__header__close {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
}

.modal__header__close:hover {
  cursor: pointer;
}

.modal__info__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.modal__info__links div:nth-child(2) {
  margin-left: 1rem;
}

.modal__image {
  width: 100%;
  margin-bottom: 2rem;
}

.modal__subtitle {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-bottom: 1.5px solid #808080;
  padding-bottom: 0.5rem;
}

.modal__paragraph {
  opacity: 0.85;
  margin-bottom: 2rem;
  text-align: justify;
}

.modal__list {
  list-style-type: circle;
  padding-left: 1rem;
  margin-top: 0;
}

@media (max-width: 500px) {
  .modal__container {
    width: 90%;
    height: 90%;
    padding: 0;
  }
}

/* 
 * Contact
 */

.contact {
  margin: 3rem 6rem;
  display: flex;
  flex-direction: column;
}

.contact__title {
  font-size: 3rem;
  font-weight: 300;
  margin: 2rem 6rem;
  text-align: center;
}

.contact__form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.contact__form__name {
  display: flex;
  justify-content: space-between;
}

.form__box {
  position: relative;
  margin-bottom: 1.5rem;
}

.form__label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  pointer-events: none;
  transition: all 0.3s;
  opacity: 0.5;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 0.7rem 0.5rem 0.7rem 0.7rem;
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
}

.form__textarea {
  width: 400px;
  resize: none;
  height: 100px;
}

.form__input:focus,
.form__textarea:focus {
  border: 2px solid #a3f3b9;
  transition: all 0.3s;
}

.form__input:focus + .form__label {
  background-color: white;
  color: #a3f3b9;
  opacity: 1;
  padding: 0 0.4rem;
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.3rem;
  transition: all 0.3s;
}

.form__label__active {
  background-color: white;
  color: #a3f3b9;
  opacity: 1;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.3rem;
  transition: all 0.3s;
}

.form__input__active {
  border: 2px solid #a3f3b9;
  transition: all 0.3s;
}

.form__textarea:focus + .form__label {
  background-color: white;
  color: #a3f3b9;
  opacity: 1;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.3rem;
  transition: all 0.3s;
}

.form__input__error {
  width: 100%;
  padding: 0.7rem 0.5rem 0.7rem 0.7rem;
  border: 2px solid #f44336;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
}

.form__textarea__error {
  width: 100%;
  padding: 0.7rem 0.5rem 0.7rem 0.7rem;
  border: 2px solid #f44336;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
  width: 400px;
  resize: none;
  height: 100px;
}
.form__textarea__error:focus + .form__label__error {
  background-color: white;
  color: #f44336;
  opacity: 1;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.3rem;
  transition: all 0.3s;
}

.form__label__error {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  pointer-events: none;
  transition: all 0.3s;
  opacity: 0.5;
}

.form__input__error:focus + .form__label__error {
  background-color: white;
  color: #f44336;
  opacity: 1;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.3rem;
  transition: all 0.3s;
}

.form__label__active__error {
  background-color: white;
  color: #f44336;
  opacity: 1;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.3rem;
  transition: all 0.3s;
}

.contact__form__button__container {
  text-align: center;
}

.contact__form__button {
  border: none;
  outline: none;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 4rem;
}

.contact__form__button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.contact__form__button:disabled:hover {
  cursor: not-allowed;
}

.contact__form__button:hover {
  transition: all 0.3s;
  background-color: black;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 1450px) {
  .contact {
    margin: 14rem 14rem 0 14rem;
  }
}

@media screen and (max-width: 550px) {
  .contact {
    padding: 2rem 0rem 2rem 0rem;
    margin: 0;
  }

  .contact__title {
    margin: 4rem 0;
  }

  .contact__form {
    width: 100%;
    box-sizing: border-box;
  }

  .form__box {
    width: 90%;
  }

  .form__textarea {
    width: 100%;
  }

  .contact__form__name {
    flex-direction: column;
  }
}

/* 
 * Footer
 */

.footer {
  background-image: url("./assets/images/footer-background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 3rem 6rem;
}

.footer__content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-size: 3rem;
  font-weight: 300;
}

.footer__widget__paragraph {
  width: 15rem;
}

.footer__widget__social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__widget__social a {
  color: inherit;
  text-decoration: none;
}

.footer__widget__social a:hover {
  cursor: pointer;
}

.footer__widget__social li {
  margin-right: 1rem;
}

.footer__menu div {
  margin-bottom: 0.5rem;
}

.footer__menu__item svg {
  padding-right: 0.5rem;
}

.footer__menu div:hover {
  cursor: pointer;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer__contact div,
.footer__contact a {
  margin-bottom: 0.5rem;
}

.footer__contact a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.footer__contact a svg {
  padding-right: 0.5rem;
}

.footer__contact a:hover {
  text-decoration: underline;
}

.footer__menu__title,
.footer__contact__title {
  font-size: 2rem;
  font-weight: 300;
  border-bottom: solid 3px white;
  margin-bottom: 1rem;
}

.copyright {
  margin-top: 4rem;
  text-align: center;
}

@media screen and (min-width: 1450px) {
  .footer {
    min-height: 800px;
    padding: 3rem 16rem;
  }

  .copyright {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 2rem;
  }

  .footer__content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
  }

  .footer__menu {
    min-width: 240px;
    margin-bottom: 2rem;
  }

  .footer__contact {
    min-width: 240px;
    margin-bottom: 2rem;
  }
}

/* 
 * Spinner
 */

.loader,
.loader:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}
.loader {
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(52, 142, 232, 0.2);
  border-right: 0.5em solid rgba(52, 142, 232, 0.2);
  border-bottom: 0.5em solid rgba(52, 142, 232, 0.2);
  border-left: 0.5em solid #348ee8;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 
 * Alert
 */

/* .alert__container, */
.alert__container__error,
.alert__container__success {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 30;
  padding: 0.5rem 1rem;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.alert__container__success {
  background-color: #e8f3e8;
}
.alert__container__error {
  background-color: #fdecea;
}

.alert__icon__success {
  fill: #5cb660;
}

.alert__icon__error {
  fill: #f44336;
}

.alert__text {
  margin-left: 1rem;
}
